<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="col-md-12">
        <h1 data-template="app:resources-title">Generated title</h1>
        <div class="row" style="margin-top:20px">
            <div class="col-md-12">
                <div data-template="app:list-resources"/>
            </div>
        </div>
    </div>
</div>