<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="col-md-12">
        <h1>Search</h1>
        
        <div class="row" style="margin-top:20px">
            <div class="col-md-12">
                <form action="search.html" method="get" name="query_form" id="query_form">
                    <select name="dtype" id="dtype-select">
                        <option value="tei">TEI</option>
                        <option value="mets">METS/MODS</option>
                        <option value="all" selected="true">ALL</option>
                    </select>
                    <input type="text" placeholder="Search.." name="query" id="query"/>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-12">
                <div data-template="app:display-kwic-hits"/>
            </div>
        </div>
    </div>
</div>