/* Application styles could go here */
/*
.exide{
    padding: 5px, 20px;
    margin: 0px 5px;
    border: 1px solid rgb(91, 91, 228);
    border-radius: 2px;
    background: rgb(162, 162, 218);
}
*/

.excerpt p:before{
    content: "\"";
}

.excerpt p:after{
    content: "\"";
}

.excerpt .hi {
    background: #8ccaeb;
    font-weight: bold;
}


.tei-edition .stage {
    color : grey;
    font-style: italic;
    margin-top: 10px ;
}

.tei-edition .sp:before {
    position:absolute;
    content: "”";
    margin-left: -17px;
    margin-top: -6px;
    font-size: x-large;
    font-style: bold;
    color: #0083cb;
}

.tei-edition .sp {
    margin-top: 40px ;
    border-left: 3px solid #0083cb;
    padding-left: 5px;
}

.tei-edition .sp .speaker-name {
    position: absolute;
    margin-top: -20px;
    margin-left: -8px;
    font-weight: bold;
}

.tei-edition .sp .speaker-name:after {
    content: ":";
}

.tei-edition .sp .line-mark{
    display: inline;
    font-size: small;
    color: #0083cb;
    vertical-align:super;
    border-right: 1px solid #0083cb;
    margin-right: 3px;
}

